pkgbase = mux
	pkgdesc = Desktop app for isolated, parallel agentic development
	pkgver = 0.16.0
	pkgrel = 4
	url = https://github.com/coder/mux
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = bun
	makedepends = nodejs
	makedepends = npm
	makedepends = python
	makedepends = make
	depends = electron
	depends = bash
	depends = git
	options = !strip
	options = !debug
	source = mux-0.16.0.tar.gz::https://github.com/coder/mux/archive/refs/tags/v0.16.0.tar.gz
	sha256sums = 1414891fbe5432da98300e0ea782d106b6ca9b5e84777e208641ed34641a1476

pkgname = mux
